.navbar{
    display : flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 170px;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 15px 37px;
    border-radius: 50px;
    background: linear-gradient(264deg, #5A3C14 0%, #A6803C 50%, #C8A951 100%);
    font-size: 24px;
    cursor: pointer;
    transition: 0.5s;
    
}

/*.name-logo{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 25px;
    background: linear-gradient(267deg, #1A1F1A 0%, #3A4A34 100%);
    font-size: 22px;
    cursor: pointer; 
}*/

/*.name-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  font-size: 22px;
  padding: 8px 16px;
  border-radius: 8px;
  background: linear-gradient(264deg, #5A3C14 0%, #A6803C 50%, #C8A951 100%);
  color: #E0E0E0; 
  cursor: default;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}*/

.name-logo {
  display: flex;
  align-items: center;
  gap: 22px;
  list-style: none;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #B8860B; /* Rich dark gold */
}

.name-logo li {
  background: none;
  padding: 0;
}


.nav-connect:hover{
    transform: scale(1.05);
}

.nav-menu li{
  display:flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.nav-menu li img{
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color:antiquewhite
}
.nav-mob-close{
  display: none;
}
.nav-mob-open{
  display: none;
}
@media(max-width:768px){
  .navbar{
    margin:20px 50px
  }
  .nav-connect{
    display: none;
  }
  .nav-mob-open{
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close{
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;
  }
  .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1F0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }
  .nav-menu li{
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;

  }
}